<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/profile_container", user: @user, good: @good %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>物品一覧</h2>
      <% if(@user.id == current_user.id) %>
  
        <%= link_to "一覧をCSVで出力する", users_output_my_goods_path(format: :csv),  class: "btn btn-primary"%>
  
      <% end %>
      <%= render "goods/list" , user: @user , goods: @goods %>
    </div>
  </div>
</div>